<form [formGroup]="coordsForm" (ngSubmit)="onSubmit()">

  <div>
    <input id="latitude" type="number" formControlName="latitude">
  </div>
  <div>
    <input id="longitude" type="number" formControlName="longitude">
  </div>

  <button class="button" type="submit">Find shit</button>
</form>

<div *ngIf="toilets && toilets.length > 0">
  <p>Found some!</p>
  <div *ngFor="let toilet of toilets">
    <p>{{ toilet.lat }}</p>
    <p>{{ toilet.lon }}</p>
    <p>{{ toilet.tags }}</p>
  </div>
</div>
